<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <title>Taco Cloud</title>-->
<!--    <link rel="stylesheet" th:href="@{/styles.css}" />-->
<!--</head>-->
<!--<body>-->
<!--<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">-->
<!--    <h1>Order your taco creations!</h1>-->
<!--    <img th:src="@{/images/taco.png}" alt="TacoImage"/>-->
<!--    <h3>Your tacos in this order:</h3>-->
<!--    <a th:href="@{/design}" id="another">Design another taco</a><br/>-->
<!--    <ul>-->
<!--        <li th:each="taco : ${tacoOrder.tacos}">-->
<!--            <span th:text="${taco.name}">taco name</span>-->
<!--        </li>-->
<!--    </ul>-->

<!--    <h3>Deliver my taco masterpieces to...</h3>-->

<!--    <label th:for="deliveryName">Name: </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{deliveryName}"/>-->
<!--        <span style="color: red" class="validationError"-->
<!--              th:if="${#fields.hasErrors('deliveryName')}"-->
<!--              th:errors="*{deliveryName}">Delivery Name</span>-->
<!--    </label>-->
<!--    <br/>-->

<!--    <label th:for="deliveryStreet">Street address: </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{deliveryStreet}"/>-->
<!--        <span style="color: red" class="validationError"-->
<!--              th:if="${#fields.hasErrors('deliveryStreet')}"-->
<!--              th:errors="*{deliveryStreet}">Delivery Street</span>-->
<!--    </label>-->
<!--    <br/>-->

<!--    <label th:for="deliveryCity">City: </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{deliveryCity}"/>-->
<!--        <span style="color: red" class="validationError"-->
<!--              th:if="${#fields.hasErrors('deliveryCity')}"-->
<!--              th:errors="*{deliveryCity}">City</span>-->
<!--    </label>-->
<!--    <br/>-->

<!--    <label th:for="deliveryState">State: </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{deliveryState}"/>-->
<!--        <span style="color: red" class="validationError"-->
<!--              th:if="${#fields.hasErrors('deliveryState')}"-->
<!--              th:errors="*{deliveryState}">Delivery State</span>-->
<!--    </label>-->
<!--    <br/>-->

<!--    <label th:for="deliveryZip">Zip code: </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{deliveryZip}"/>-->
<!--        <span style="color: red" class="validationError"-->
<!--              th:if="${#fields.hasErrors('deliveryZip')}"-->
<!--              th:errors="*{deliveryZip}">Delivery Zip</span>-->
<!--    </label>-->
<!--    <br/>-->

<!--    <h3>Here's how I'll pay...</h3>-->

<!--    <label th:for="ccNumber">Credit Card #: </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{ccNumber}"/>-->
<!--        <span style="color: red" class="validationError"-->
<!--              th:if="${#fields.hasErrors('ccNumber')}"-->
<!--              th:errors="*{ccNumber}">CC Num Error</span>-->
<!--    </label>-->
<!--    <br/>-->

<!--    <label th:for="ccExpiration">Expiration: </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{ccExpiration}"/>-->
<!--        <span style="color: red" class="validationError"-->
<!--              th:if="${#fields.hasErrors('ccExpiration')}"-->
<!--              th:errors="*{ccExpiration}">CC Expiration Error</span>-->
<!--    </label>-->
<!--    <br/>-->

<!--    <label th:for="ccCVV">CVV: </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{ccCVV}"/>-->
<!--    </label>-->
<!--    <span style="color: red" class="validationError"-->
<!--          th:if="${#fields.hasErrors('ccCVV')}"-->
<!--          th:errors="*{ccCVV}">CC CVV Error</span>-->
<!--    <br/>-->

<!--    <input type="submit" value="Submit Order"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
    <h1>Order your taco creations!</h1>
    <img th:src="@{/images/taco.png}" alt="TacoImage"/>
    <h3>Your tacos in this order:</h3>
    <a th:href="@{/design}" id="another">Design another taco</a><br/>
    <ul>
        <li th:each="taco : ${tacoOrder.tacos}">
            <span th:text="${taco.name}">taco name</span>
        </li>
    </ul>

    <h3>Deliver my taco masterpieces to...</h3>

    <label th:for="deliveryName">Name: </label>
    <label>
        <input type="text" th:field="*{deliveryName}"/>
        <span style="color: red" class="validationError"
              th:if="${#fields.hasErrors('deliveryName')}"
              th:errors="*{deliveryName}">Delivery Name</span>
    </label>
    <br/>

    <label th:for="deliveryStreet">Street address: </label>
    <label>
        <input type="text" th:field="*{deliveryStreet}"/>
        <span style="color: red" class="validationError"
              th:if="${#fields.hasErrors('deliveryStreet')}"
              th:errors="*{deliveryStreet}">Delivery Street</span>
    </label>
    <br/>

    <label th:for="deliveryCity">City: </label>
    <label>
        <input type="text" th:field="*{deliveryCity}"/>
        <span style="color: red" class="validationError"
              th:if="${#fields.hasErrors('deliveryCity')}"
              th:errors="*{deliveryCity}">City</span>
    </label>
    <br/>

    <label th:for="deliveryState">State: </label>
    <label>
        <input type="text" th:field="*{deliveryState}"/>
        <span style="color: red" class="validationError"
              th:if="${#fields.hasErrors('deliveryState')}"
              th:errors="*{deliveryState}">Delivery State</span>
    </label>
    <br/>

    <label th:for="deliveryZip">Zip code: </label>
    <label>
        <input type="text" th:field="*{deliveryZip}"/>
        <span style="color: red" class="validationError"
              th:if="${#fields.hasErrors('deliveryZip')}"
              th:errors="*{deliveryZip}">Delivery Zip</span>
    </label>
    <br/>

    <h3>Here's how I'll pay...</h3>

    <label th:for="ccNumber">Credit Card #: </label>
    <label>
        <input type="text" th:field="*{ccNumber}"/>
        <span style="color: red" class="validationError"
              th:if="${#fields.hasErrors('ccNumber')}"
              th:errors="*{ccNumber}">CC Num Error</span>
    </label>
    <br/>

    <label th:for="ccExpiration">Expiration: </label>
    <label>
        <input type="text" th:field="*{ccExpiration}"/>
        <span style="color: red" class="validationError"
              th:if="${#fields.hasErrors('ccExpiration')}"
              th:errors="*{ccExpiration}">CC Expiration Error</span>
    </label>
    <br/>

    <label th:for="ccCVV">CVV: </label>
    <label>
        <input type="text" th:field="*{ccCVV}"/>
    </label>
    <span style="color: red" class="validationError"
          th:if="${#fields.hasErrors('ccCVV')}"
          th:errors="*{ccCVV}">CC CVV Error</span>
    <br/>

    <input type="submit" value="Submit Order"/>
</form>
</body>
</html>
