<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Received Orders</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>

<h1>Received Orders</h1>
<img th:src="@{/images/taco_order.png}" alt="TacoImage"/>


<div th:if="${not #lists.isEmpty(orders)}">
    <ul>
        <li th:each="order : ${orders}">
            Customer Name: <span th:text="${order.deliveryName}">Customer Name</span><br/>
            Placed At: <span th:text="${order.placedAt}">Placed At</span><br/>
            Tacos:
            <ul>
                <li th:each="taco : ${order.tacos}">
                    Taco Name: <span th:text="${taco.name}">Taco Name</span><br/>
                    Ingredients: <span th:text="${taco.ingredients}">Ingredients</span>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div th:if="${#lists.isEmpty(orders)}">
    <p>No orders have been received.</p>
</div>

</body>
</html>